@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
:root {
  --color-header-footer: rgb(52, 152, 219);
  --color-members-bg: rgb(246, 246, 246);
  --btn-bg-color: rgb(230, 126, 34);
  --card-hover-light-orange: rgb(255, 246, 238);
  --text-color: rgb(18, 53, 77);
  --text-area-light-blue: rgb(217, 240, 255);
}

body {
  color: var(--text-color);
}
h2 {
  font-weight: 500;
  font-size: 1.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.header_footer_component {
  background-color: var(--color-header-footer);
}

.btn_component {
  background-color: var(--btn-bg-color);
  margin: 0;
}

.btn_component_blue {
  background-color: var(--color-header-footer);
}

.btn_max_width {
  max-width: 40%;
}

.card_button {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 7 / 11;
  height: min(10vw, 50px);
  min-height: 20px;
  padding: clamp(1rem, 2vw, 2rem) clamp(0.5rem, 1vw, 1.5rem);
  font-size: clamp(0.75rem, 1.2vw, 1.75rem);
  color: var(--color-header-footer);
  border: solid 2px var(--color-header-footer);
  border-radius: 10px;
  transition: transform 0.3s ease;
  background: white;
  cursor: pointer;
}

.smaller_card {
  height: min(10vw, 80px);
  min-height: 40px;
  padding: clamp(0.5rem, 1vw, 1rem) clamp(0.25rem, 0.5vw, 0.75rem);
  font-size: clamp(0.75rem, 1.5vw, 1.5rem);
}

.card_button:hover,
.card_button.card_picked {
  transform: translateY(-20px);
}

.card_picked {
  background-color: var(--card-hover-light-orange);
  color: var(--btn-bg-color);
  border: solid 2px var(--btn-bg-color);
}

.task_description:focus {
  border: solid 2px var(--color-header-footer);
}

.members_list {
  background-color: var(--color-members-bg);
  padding-top: 5%;
  padding-bottom: 5%;
}

.member_card {
  width: 90%;
  box-shadow: 10px 10px 20px rgba(13, 39, 80, 0.16);
}

.member_ready {
  background-color: var(--color-header-footer);
}

.team_title {
  background-color: var(--btn-bg-color);
  color: white;
  width: 80%;
  text-align: center;
  border-radius: 10px;
}

.ai_estimate_btn {
  width: 40%;
  color: var(--color-header-footer);
  border: 3px solid var(--color-header-footer);
}

.ai_estimate_btn:hover {
  background-color: var(--color-header-footer);
  color: white;
  border: none;
}

.copy_btn {
  color: var(--color-header-footer);
}

.copy_btn:hover {
  background-color: var(--btn-bg-color);
  color: white;
}

.menu_btn {
  text-align: left;
  margin-left: 1rem;
  margin-right: 1rem;
}

.menu_btn:hover {
  border-bottom: 2px solid white;
}
